// Navigation Styles here
nav {
    padding: 2%;
    .flex(row, space-between, center);

    .logo {
        width: 100%;
    }/*closes logo*/

   

    @media @mobile {
        .flex(column, center, center);
     text-align: center;
      } /*closes media query*/

    .links {
        width: 60%;
        .flex(row, space-evenly);

         a {
            color: @font-color;
            text-decoration: none;
            font-size: 1.6rem;
    
                @media @mobile {
                    .flex(column, space-around, center);
                    text-align: center;
                    width: 100%;
                  padding: 0 15%;
                  font-size: 1.4rem;
                } /* closes media query*/
        }/*closes a links */

    }/*closes the links*/
}/* closes the nav*/

